<input type="text" ng-model="user.name"><br><br>
<input type="text" ng-model="user.festId"><br><br>
<input type="text" ng-model="user.phoneNumber"><br><br>
<input type="text" ng-model="user.question"><br><br>
<input type="radio" name="q1" value="1" ng-model="user.q1"> 1
<input type="radio" name="q1" value="2" ng-model="user.q1"> 2
<input type="radio" name="q1" value="3" ng-model="user.q1"> 3  
<input type="radio" name="q1" value="4" ng-model="user.q1"> 4  
<input type="radio" name="q1" value="5" ng-model="user.q1"> 5 <br><br>  
<input type="radio" name="q2" value="1" ng-model="user.q2"> 1
<input type="radio" name="q2" value="2" ng-model="user.q2"> 2
<input type="radio" name="q2" value="3" ng-model="user.q2"> 3  
<input type="radio" name="q2" value="4" ng-model="user.q2"> 4  
<input type="radio" name="q2" value="5" ng-model="user.q2"> 5 <br><br>  
<input type="radio" name="q3" value="1" ng-model="user.q3"> 1
<input type="radio" name="q3" value="2" ng-model="user.q3"> 2
<input type="radio" name="q3" value="3" ng-model="user.q3"> 3  
<input type="radio" name="q3" value="4" ng-model="user.q3"> 4  
<input type="radio" name="q3" value="5" ng-model="user.q3"> 5 <br><br>  
<input type="radio" name="q4" value="1" ng-model="user.q4"> 1
<input type="radio" name="q4" value="2" ng-model="user.q4"> 2
<input type="radio" name="q4" value="3" ng-model="user.q4"> 3  
<input type="radio" name="q4" value="4" ng-model="user.q4"> 4  
<input type="radio" name="q4" value="5" ng-model="user.q4"> 5 <br><br>  
<input type="radio" name="q5" value="1" ng-model="user.q5"> 1
<input type="radio" name="q5" value="2" ng-model="user.q5"> 2
<input type="radio" name="q5" value="3" ng-model="user.q5"> 3  
<input type="radio" name="q5" value="4" ng-model="user.q5"> 4  
<input type="radio" name="q5" value="5" ng-model="user.q5"> 5 <br><br>  
<button ng-click="submitForm()">Go</button>